# For manual testing

AWS_REGION=us-east-1
COLLECTION_IDENTIFIER=iawa_collection_1
ACCESS_DIR=iawa/iawa_collection_1/iawa_collection_1_item_1/Access
AWS_SRC_BUCKET=ingest-dev-vtlib-store
AWS_DEST_BUCKET=ingest-dev.img.cloud.lib.vt.edu
DEST_PREFIX=iawa
DEST_URL=https://img.cloud.lib.vt.edu
CSV_PATH=iawa/iawa_collection_1
CSV_NAME=iawa_collection_1_archive_metadata.csv